---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
---

<Layout title="Simple coffe">
  <main class="min-h-screen bg-background text-text">
    <Header />
    <Section />
  </main>
</Layout>
